@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes moveBackground {
    from {
        transform: translateX(0);
    }
    /* ⭐️ to: 한 묶음의 너비(2240px)만큼 이동합니다. */
    to {
        transform: translateX(-2240px);
    }
}

.animate-move-bg {
    /* 💡 애니메이션 속성: 애니메이션 이름 / 지속 시간 / 타이밍 함수 / 반복 / 재생 상태 */
    animation: moveBackground 45s linear infinite paused; /* 초기에는 paused 상태로 설정 */
}

/* 마우스 호버 시 애니메이션 재생 */
.animate-move-bg:hover {
    animation-play-state: running; /* 마우스 오버 시 재생 */
}

.animate-move-bg-auto {
    /* 45s 동안 선형(linear) 속도로 무한히(infinite) 재생(running) */
    animation: moveBackground 45s linear infinite running;
}
